---
import type { CollectionEntry } from "astro:content";
import type { ProjectFields } from "../../layouts/ProjectLayout.astro";
import { toTitleCase } from "../../util/formatting";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
type Categories = CollectionEntry<"applications_categories">;
type Props = {
  fields: ProjectFields;
  icon: string;
  filters: string[];
  categoriesData: Categories[];
  Content: AstroComponentFactory;
  name: string;
  type: "applications" | "games"
};
const fieldLabels : { [key: string]: string } = {
  device_configuration: "Device Configuration",
  date_tested: "Date Tested",
  game_type: "Game Type",
  overall_status: "Overall status", 
  publisher: "Publisher",
  frame_rate: "Frame rate",
  status_description: "Overall Status Description",
  os_version: "Os Version",
  game_type: "Game type",
  compatibility: "compatibility",
  name: "name", 
  icon: "icon",
  categories: "categories",
  link: "link", 
  versionFrom: "versionFrom",
  type:"type"
};
const { fields, icon, categoriesData, filters, Content, name, type } = Astro.props; 





// const imageExt = icon.split(".")[1]
// console.log(imageExt)
// const Icon = await import(`../../assets/icons/${icon.replace(imageExt, "")}${imageExt}`)
---

<div class="w-full p-5 bg-white text-black rounded-xl relative project-details">
  <img src={`/icons/${icon}`} width="75px" class="absolute right-0 top-0 m-5" alt={`${name} logo`}/>   
  <!-- <Image src={Icon.default} alt={`${fields.find((f) => f.key === "name")} logo`} width={75} class="absolute right-0 top-0 m-5" /> -->
  <ul>
    {
      fields.map((field) => (
        <li class="mb-2">
          <b data-pagefind-ignore>{fieldLabels[field.key] || toTitleCase(field.key)}</b>
          {field.type === "array" ? (
            <p>
              {(field.value as typeof categoriesData).map((value, index) => (
                <a data-pagefind-filter={field.key} 
                class="text-blue-700 underline"
                href={`/?category=${encodeURIComponent(value.data.name)}`}>
                  {value.data.name}
                </a>
                <span>
                  {index === categoriesData.length - 1 ? "" : ", "}
                </span>
              ))}
            </p>
          ) : (
            <p
              data-pagefind-filter={filters.includes(field.key) && field.key}
              data-pagefind-ignore={filters.includes(field.key)}
              data-pagefind-meta={!filters.includes(field.key) && field.key}

            >
              {field.type === "link"  ? (
                <a href={field.value as string} class="text-blue-700 underline break-all">
                  {field.value}
                </a>
              ) : (
                field.value
              )}
            </p>
          )}
        </li>
      ))
    }
    <li class="project-notes">
      <b data-pagefind-ignore>Notes</b>
      <div>
        <Content />
      </div>
    </li>
  </ul>
</div>
<style is:global lang="scss">
  /* style markdown content here */
  .project-notes {
    a {
      color: rgb(29 78 216);
      text-decoration: underline;
    }
    div:empty:after {
      content: "No additional notes"
    }
  }
  
</style>

