---
import { getImage } from "astro:assets";
import WoaBanner from "../../assets/WoA-banner.png";
import i18next, { t } from "i18next";
import { LanguageSelector } from "astro-i18next/components";

const optimizedBanner = await getImage({ src: WoaBanner });
const bgUrl = `url('${optimizedBanner.src}')`;
const homeURL = `/${i18next.language}`;
---

<header class="w-full">
  <div
    class:list={[
      "p-10 sm:p-20 flex flex-col items-center  bg-center bg-no-repeat",
      `bg-[${bgUrl}]`,
    ]}
    style={`background-image: ${bgUrl}`}
  >
    <h1>
      <a
        class="text-3xl sm:text-5xl text-center text-white w-full no-underline"
        href={homeURL}>{t('header.main')}</a
      >
    </h1>
  </div>
  <LanguageSelector showFlag={true} class="language-selector" />
  <style>
    .language-selector {
      color: black;
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
      z-index: 10;
    }
  </style>
</header>
