---
import { getImage } from "astro:assets";
import WoaBanner from "../../assets/WoA-banner.jpg";
import LanguageSelector from "../../components/Common/LanguageSelector.astro";
import { getFixedT } from "../../util/i18next";
import { DEFAULT_LOCALE } from "../../config/i18nConfig";

const lang = Astro.currentLocale || DEFAULT_LOCALE;
const t = await getFixedT(lang);

const optimizedBanner = await getImage({ src: WoaBanner });
const bgUrl = `url('${optimizedBanner.src}')`;
const homeURL = `/${lang}`;
---

<header class="w-full">
  <div
    class:list={[
      "p-10 sm:p-20 flex flex-col items-center  bg-center bg-no-repeat",
      `bg-[${bgUrl}]`,
    ]}
    style={`background-image: ${bgUrl}`}
  >
    <h1>
      <a
        class="text-3xl sm:text-5xl text-center text-white w-full no-underline"
        href={homeURL}>{t('header.main')}</a
      >
    </h1>
  </div>
  <LanguageSelector class="language-selector bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
  <style>
    .language-selector {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
      z-index: 2;

      max-width: 150px;
    max-width: fit-content;
    }
  </style>
</header>
