---
import { getEntry, type CollectionEntry } from "astro:content";
import Search from "../components/Search/Search.astro";
import ProjectDetails from "../components/Projects/ProjectDetails.astro";
import dayjs from "dayjs";
import UserReports from "../components/Projects/UserReports.astro";
import BaseLayout from "./BaseLayout.astro";
import { t } from "i18next";
import { updateLanguage } from "../util/updateLanguage";

type Props<T extends "games" | "applications"> = {
  project: CollectionEntry<T>;
  date: Date | null;
  reports: CollectionEntry<`user_reports_${T}`>[];
  type: T;
};

const locale = updateLanguage(Astro.url);
const { project, date, reports, type } = Astro.props;
const { data: { name } } = project;
const title = type === "applications" ? t('bradcrumbs.applications') : t('bradcrumbs.games');
---

<BaseLayout
  title={`${name} | Windows on Arm Ready ${title}`}
  description={`Windows on Arm compatibility details for ${name}`}
  breadcrumbs={[
    { href: `/${locale}/${type}/`, title: title },
    { href: `/${locale}/${type}/${project.slug}/`, title: name },
  ]}
>
  {type === "games" && <Search shouldRedirect={true} type={type} />}
  <section data-pagefind-body class="flex flex-col items-center p-1 pt-0">
    <h1 class="font-bold text-3xl px-0 self-start" data-pagefind-meta="title">
      {name}
    </h1>
    <span class="hidden" data-pagefind-sort="name">{name.toLowerCase()}</span>
    <ProjectDetails project={project} type={type} />
    <p class="w-full py-6">
      {t('applications.report_last_updated')}: {
        date ? (
          dayjs(date).format("DD MMM YYYY")
        ) : (
          <i>- not available on private staging site</i>
        )
      }
    </p>
  </section>

  <section class="flex flex-col items-center">
    {
      type === "applications" && (
        <a href={`/${locale}/applications/search/`} class="mx-auto">
          <button class="px-8 py-2 bg-white text-black rounded-full font-bold mt-16 mb-8 text-xl hover:bg-zinc-500 hover:text-white">
            {t('applications.search_button')}
          </button>
        </a>
      )
    }
  </section>

  <UserReports reports={reports} type={type} />
</BaseLayout>
